{% extends 'base.html' %}
{% block title %}Contato para Privacidade{% endblock %}
{% block content %}
<div class="container my-5">
    <h1>Contato para Privacidade</h1>
    <p>
        Se você tiver dúvidas ou preocupações sobre a forma como tratamos seus dados pessoais, ou se desejar exercer seus direitos sob a LGPD, entre em contato conosco através do seguinte canal:
    </p>
    <h3>E-mail de Contato</h3>
    <p>
        <a href="mailto:privacidade@injetec.com.br">privacidade@injetec.com.br</a>
    </p>
    <h3>Outras Informações</h3>
    <p>
        Responderemos a sua solicitação o mais rápido possível, dentro do prazo legal. Para garantir a segurança e a privacidade, poderemos solicitar informações adicionais para confirmar sua identidade.
    </p>
</div>
{% endblock %}
