{% extends 'base.html' %}
{% block title %}Política de Cookies{% endblock %}
{% block content %}
<div class="container my-5">
    <h1>Política de Cookies</h1>
    <p>
        Esta Política de Cookies explica o que são cookies, como os utilizamos, e como você pode gerenciar suas preferências de cookies.
    </p>
    <h3>O Que São Cookies?</h3>
    <p>
        Cookies são pequenos arquivos de texto que são armazenados em seu dispositivo quando você visita um site. Eles ajudam a melhorar a experiência do usuário, lembrando suas preferências e visitas anteriores.
    </p>
    <h3>Como Usamos Cookies</h3>
    <p>
        Usamos cookies para melhorar a funcionalidade do nosso site, personalizar conteúdo e anúncios, fornecer recursos de redes sociais e analisar nosso tráfego. Também compartilhamos informações sobre o uso do nosso site com nossos parceiros de mídia social, publicidade e análise.
    </p>
    <h3>Gerenciamento de Cookies</h3>
    <p>
        Você pode gerenciar suas preferências de cookies através das configurações do seu navegador. Note que, se você desativar os cookies, alguns recursos do site podem não funcionar corretamente.
    </p>
</div>
{% endblock %}
