{% extends 'base.html' %}
{% block title %}Política de Privacidade{% endblock %}
{% block content %}
<div class="container my-5">
    <h1>Política de Privacidade</h1>
    <p>
        A Injetec está comprometida em proteger a sua privacidade. Esta política de privacidade explica como coletamos, usamos e protegemos as informações pessoais que você nos fornece através do nosso site.
    </p>
    <h3>Informações que Coletamos</h3>
    <p>
        Coletamos informações pessoais que você nos fornece diretamente, como nome, e-mail, telefone, e outras informações de contato. Também podemos coletar informações automaticamente quando você navega em nosso site, como endereço IP, tipo de navegador, e informações de cookies.
    </p>
    <h3>Como Usamos Suas Informações</h3>
    <p>
        Usamos suas informações para fornecer, operar, manter, melhorar, e personalizar nossos serviços, comunicar com você, e proteger nossos usuários.
    </p>
    <h3>Compartilhamento de Informações</h3>
    <p>
        Não compartilhamos suas informações pessoais com terceiros, exceto conforme necessário para cumprir a lei, proteger nossos direitos, ou como parte de uma transação empresarial, como uma fusão ou venda de ativos.
    </p>
    <h3>Seus Direitos</h3>
    <p>
        Você tem o direito de acessar, corrigir, atualizar ou excluir suas informações pessoais. Para exercer esses direitos, entre em contato conosco através do nosso canal de atendimento.
    </p>
</div>
{% endblock %}
