{% extends 'base.html' %}
{% block title %}Termos de Uso{% endblock %}
{% block content %}
<div class="container my-5">
    <h1>Termos de Uso</h1>
    <p>
        Bem-vindo ao site da Injetec. Ao acessar e usar este site, você concorda com os seguintes termos e condições. Caso não concorde com algum dos termos, recomendamos que não utilize este site.
    </p>
    <h3>Uso do Site</h3>
    <p>
        Este site é destinado ao uso pessoal e não comercial. Você concorda em não usar este site para qualquer propósito ilegal ou proibido por estes termos.
    </p>
    <h3>Propriedade Intelectual</h3>
    <p>
        Todo o conteúdo presente neste site, incluindo textos, imagens, gráficos, logotipos e ícones, é de propriedade da Injetec ou de seus licenciadores e está protegido por leis de direitos autorais e outras leis de propriedade intelectual.
    </p>
    <h3>Isenção de Garantias</h3>
    <p>
        O site é fornecido "como está" e "como disponível". Não garantimos que o site estará sempre disponível ou que estará livre de erros.
    </p>
    <h3>Limitação de Responsabilidade</h3>
    <p>
        Em nenhuma circunstância a Injetec será responsável por quaisquer danos diretos, indiretos, incidentais, consequenciais ou punitivos decorrentes do uso ou da incapacidade de usar este site.
    </p>
</div>
{% endblock %}
